{% extends "__base.twig" %}

{% block title %}About{% endblock %}

{% block main %}
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, illum odit enim facere ex deleniti dicta ipsa illo quas natus, nam saepe quo reprehenderit nesciunt fugit necessitatibus corporis? Fugit quasi voluptatem blanditiis deserunt culpa id cumque iusto consequatur facilis deleniti minima unde laborum totam, dicta, est, ut veritatis architecto optio!</p>
  <p>Cumque, adipisci repellendus eos accusantium labore nam possimus at facilis ex similique non laborum, porro eveniet. Quia, animi sit explicabo maxime eligendi molestias tempora non distinctio harum aspernatur totam est cupiditate, ipsam, excepturi deleniti temporibus quae incidunt. Esse, facere molestias et, quia, cum veritatis similique unde dolorum autem aperiam suscipit.</p>
  <p>Est veritatis rerum, obcaecati consectetur quo temporibus similique necessitatibus enim reiciendis vitae debitis, facere inventore explicabo. Debitis, dolorem obcaecati nulla rerum veritatis deleniti. Animi maxime facilis quidem a corrupti itaque dignissimos quibusdam recusandae natus. Eius esse dicta iure, maiores consectetur placeat ducimus consequatur omnis optio consequuntur tempora iste, ad porro?</p>
  <p>Deserunt dolorem expedita, odio doloribus nesciunt repellat eaque? Asperiores ullam ducimus obcaecati harum eum cupiditate necessitatibus in, soluta, itaque pariatur sequi iste iusto adipisci ut, repellendus consectetur voluptatem reprehenderit nisi voluptatibus sit quo! Quam dolore tenetur consequuntur quos non quidem repellendus consectetur cupiditate. Expedita voluptatem sit facilis maxime sapiente repellat?</p>
  <p>Cumque harum nostrum assumenda iure magnam minima praesentium culpa expedita quaerat architecto? Mollitia iure vitae doloremque quasi unde dolorem, consequuntur cupiditate quis corrupti eum dolorum modi reiciendis officiis similique reprehenderit magni sit maiores sapiente in. Itaque, voluptas culpa aut at optio quas quia natus? Impedit delectus sapiente nemo minima accusantium?</p>
{% endblock %}