{% extends "__base.twig" %}

{% block title %}Home{% endblock %}

{% block main %}
  <h1>Home</h1>

  <ul>
  {% for person in persons %}
    <li>
      <a href="/profile/{{ person.id }}">{{ person.id }}</a>
    </li>
  {% endfor %}
  </ul>
{% endblock %}