{% extends "__base.twig" %}

{% block title %}Home{% endblock %}

{% block main %}
  <h2>Add Person</h2>

  <form action="/" method="POST">
    <input type="text" name="firstName" placeholder="First Name" required />
    <input type="text" name="lastName" placeholder="Last Name" required />
    <input type="text" name="street" placeholder="Street" required />
    <input type="number" name="cityId" placeholder="City Id" required />
    <div>
      <label for="isMale">Male</label>
      <input type="checkbox" name="isMale" id="isMale" />
    </div>
    <div>
      <button type="submit">Go</button>
    </div>
  </form>
{% endblock %}